{% block stylesheet %}
<style>

#hello-msg{
  font-size:18px;
  color: #fff;
  margin-right:20px
}
    
    .navbar-default {
        background-color: #0082BB;
        border-color: #0082BB;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Poly', serif; font-size: 25px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: 'Poly', serif; font-size: 20px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0082BB;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0082BB;
}

body {
    background-color: #ebeff5;
    font-family: 'Open Sans', sans-serif;
}


</style>
{% endblock %}
<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
    <a class="navbar-brand" href="{% url 'unreacted' %}">Ecobank Compliance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pending' %}">Pending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'regularised' %}">Closed</a>
        </li>
      </ul>
    </div>
    <span id='hello-msg'>Hello, {{request.user}} </span>
    <span ><a id='hello-msg' href='{% url 'logout' %}'> Logout</a></span>
  </nav>